# https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html

{% for entry in postgresql_hba_entries %}
{{ entry.type }} {{ entry.database }} {{ entry.user }} {{ entry.address | default("") }} {{ entry.ip_address | default("") }} {{ entry.ip_mask | default("") }} {{ entry.auth_method }} {{ entry.auth_options | default("") }}
{% endfor %}
